.Start {
    background-color: #BFBFBF;
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 100%;
    left: .5%;
    border: solid black 1px;
}

.Start-Hidden {
    display: none;
}

