.Blog {
    background: white;
    height: 100%;
    overflow: hidden;
}

.content{
    overflow: scroll;
    height: 100%;
    background-color: white;
}

.Blog .addressBar{
    margin-right: 5px;
    border-bottom: 1px gray solid;
}

.addressBar {
    background-color: white;
    width: 75%;
}

.blogTitle {
    text-align: center;
    font-size: 300%;
}

