.Blog {
    background: white;
    height: 100%;
    overflow: hidden;
}

.content{
    overflow: scroll;
    height: 100%;
    background: -webkit-linear-gradient(left, #94D3E7 0, #94D3E7 20%, #EFC9D7 20%, #EFC9D7 40%, white 40%, white 60%, #EFC9D7 60%, #EFC9D7 80%, #94D3E7 80%);
}

.Blog .addressBar{
    margin-right: 5px;
    border-bottom: 1px gray solid;
}

.addressBar {
    background-color: white;
    width: 75%;
}

.blogTitle {
    text-align: center;
    font-size: 3em;
}

.Blog li{
    color: black;
    text-align: center;
    list-style: none;
    font-size: 30px;
}

a{
    text-decoration-color: black;
    cursor: url("../Monitor/cursor.cur"),auto;
}
