.RightMenu{
    background-color: #BFBFBF;
    position: absolute;
    z-index: 20000;
}

.hideRM{
    display: none;
}

.RightMenu ul{
    border: 1px solid #555555;
    text-align: center;
}

.RightMenu .RightMenuOptions{
    border-bottom: 1px solid #555555;
    padding: 2px;
    word-wrap: normal;
}

.RightMenu .RightMenuOptions:last-child{
    border-bottom: none;
}

.RightMenu .RightMenuOptions:hover{
    background-color: #001CA2;
    color: white;
}
