.Window{
    position: absolute;
    z-index: 200;
    background-color: aliceblue;
}

.TopBar {
    border-bottom: solid #555555 .5px;
    display: inline-flex;
    width: 100%;
    background-color: #001CA2;
}

.ActionButtons{
    display: inline-flex;
    position: absolute;
    right: 0;
}

.barButton{
    height: 16px;
    width: 16px;
    background-color: #999999;
    margin: 1px;
}